<h1 class="mt-4">Sobre</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Informa&ccedil;&otilde;es sobre o Sistema.</li>
</ol>
<div class="container">
  <form #infoForm="ngForm">
      <div class="row">
          <div class="container py-3">
  <div class="title h1 text-center">Clientes x Serviços Prestados</div>
  <!-- Card Start -->
  <div class="card">
    <div class="row">

      <div class="col-md-7 px-3">
        <div class="card-block px-6">
          <h4 class="card-title">Módulo de Clientes </h4>
          <p class="card-text">
            Clientes são executores de serviços prestados. O foco deste sistema é gerir informações sobre quem executou certos serviços e quanto foi gasto em um dado período.
          </p>
          <p class="card-text">Através de relatórios é possível acompanhar quanto foi gasto em X serviços em um mês, por exemplo.</p>
          <br>
          <a routerLink="/clientes" class="mt-auto btn btn-primary">Cadastrar agora</a>
        </div>
      </div>
      <!-- Carousel start -->
      <div class="col-md-5">
        <carousel>
          <slide>
            <img src="../../../assets/img/005.png" alt="" class="container_img">
          </slide>
          <slide>
            <img src="../../../assets/img/2.jpg" alt="" class="container_img">
          </slide>
          <slide>
            <img src="../../../assets/img/3.jpg" alt="" class="container_img">
          </slide>
        </carousel>
      </div> <!-- end class col-md-5-->
      <!-- End of carousel -->
    </div>
  </div>
  <!-- End of card -->
</div>


  </div>


      <div class="row">
        <div class="col-md-6">
          <div class="card float-left">
            <div class="row ">
              <div class="col-sm-7">
                <div class="card-block">
                  <!--           <h4 class="card-title">Small card</h4> -->
                  <p>Serviços Prestados para você saber onde está gastando seu dinheiro.</p>
                  <p>Cadastre e veja seus atendimentos.</p>
                  <a routerLink="/servicos-prestados" class="btn btn-primary btn-sm">Cadastrar</a>
                </div>
              </div>
              <div class="col-sm-5">
                <img class="container_img2" src="../../../assets/img/8.jpg" alt="">
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="card float-left">
            <div class="row ">
              <div class="col-sm-7">
                <div class="card-block">
                  <!--           <h4 class="card-title">Small card</h4> -->
                  <p>Relatórios práticos e dinâmicos</p>
                  <p>Acompanhe tudo e administre seu $$$</p>
                  <a href="#" class="btn btn-success btn-sm">Acompanhe</a>
                </div>
              </div>
              <div class="col-sm-5">
                <img class="container_img2" src="../../../assets/img/5.png" alt="">
              </div>
            </div>
          </div>
        </div>
        </div>
  </form>
</div>
