<h1 class="mt-4">Servi&ccedil;o Prestado</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrum-bitem active">Gerenciamento de Servi&ccedil;os</li>
</ol>

<div class="col-md-10">
  <div class="row">
   <!-- Copy the content below until next comment -->
   <div class="card card-custom bg-white border-white border-0">
    <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
    <div class="card-custom-avatar">
      <img class="img-fluid" src="http://hvogel.com.br/img/repair-workshop-icon-png-2907.png" alt="Avatar" />
    </div>
    <div class="card-body" style="overflow-y: auto">
      <h4 class="card-title">Servi&ccedil;os</h4>
      <p class="card-text">Gerenciamento de Servi&ccedil;os.</p>
    </div>

  </div>
  <!-- Copy until here -->
  </div>
  </div>

<div class="container">
    <form #consultaForm="ngForm" (submit)="consultar()">
      <div class="row">
          <div class="col-md-5">
              <div class="form-group">
                <label>Cliente:</label>
                <select class="form-control"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="servicoPrestado.idCliente">
                    <option value="-1">Todos</option>
                    <option *ngFor="let cliente of clientes"
                            [ngValue]="cliente.id">
                        {{ cliente.nome }}
                    </option>
                </select>
            </div>
          </div>

            <div class="col-md-5">
              <label for="inputStatus">Status:</label>
               <select class="form-control"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="servicoPrestado.status">
                 <option value="">Todos</option>
                 <option value="E">Em Atendimento</option>
                 <option value="C">Cancelado</option>
                 <option value="F">Finalizado</option>
             </select>
            </div>
    </div>

        <div class="row">
            <div class="col-md-10">
                <label for="inputDescricao">Descrição:</label>
                <input type="text" [(ngModel)]="servicoPrestado.descricao"
                       name="descricao" class="form-control"
                       id="inputDescricao">
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Consultar
                </button>

                <button type="button"
                        routerLink="/servicos-prestados/form"
                        class="btn btn-warning ml-1">
                    <i class="fa fa-plus"></i> Novo
                </button>

                <button type="button"
                        class="btn btn-danger ml-1"
                        (click)="apagar()">
                    <i class="fa fa-eraser"></i> Limpar
                </button>

                <button type="button"
                        class="btn btn-success ml-1"
                        routerLink="/home">
                    <i class="fa fa-home"></i> Voltar
                </button>
            </div>
        </div>
    </form>

    <br />
    <div class="row">
        <div class="col-md-10">
          <br />
          <div class="list row">
            <div class="col-md-10">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Pesquisar pelo nome do cliente"
                  (keyup)="onKeyUp($event)"
                  [(ngModel)]="campoPesquisa"/>
                <div class="input-group-append">
                  <button
                    class="btn btn-primary"
                    (click)="pesquisarDescricao()"
                    type="button">
                    Pesquisar
                  </button>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col-md-12">
                <div class="table-responsive">
                <table class="table table-hover table-striped">
                  <thead>
                    <tr class="thead-dark">
                      <th>Cliente</th>
                      <th>Descri&ccedil;&atilde;o</th>
                      <th>Pre&ccedil;o</th>
                      <th>Data</th>
                      <th>Status</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of collectionCustomPagination.data | paginate: configCustomPagination">
                      <td>
                        <em class="text-item-grid">
                          {{ item.cliente.nome }}
                         </em>
                       </td>
                      <td>{{ item.descricao }} </td>
                      <td>{{ item.valor }} </td>
                      <td>{{ item.data }} </td>
                      <td>{{ statusDetalhado[item.status] }}</td>
                      <td>
                        <button class="btn btn-primary"
                                routerLink="/servicos-prestados/form/{{ item.id }}">
                            <i class="fa fa-edit"></i>
                        </button>
                          &nbsp;
                       <button class="btn btn-danger"
                          (click)="openModal(template, item.id)">
                          <i class="fa fa-trash"></i>
                       </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
                <pagination-controls id="customPaginate" [maxSize]="maxSize" (pageChange)="onPageChange($event)"
                  [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel">
                </pagination-controls>
              </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <ng-template #template>
      <div class="modal-body text-center">
        <p>Confirma a exclus&atilde;o?</p>
        <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >N&atilde;o</button>
      </div>
    </ng-template>
  </div>
</div>
