<h1 class="mt-4">Servi&ccedil;os Prestados</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrum-bitem active">Gerenciamento de Servi&ccedil;os</li>
</ol>

<div class="col-md-10">
  <div class="row">
    <app-alert-message-form [listAlerts]="listAlerts"></app-alert-message-form>
   <!-- Copy the content below until next comment -->
   <div class="card card-custom bg-white border-white border-0">
    <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
    <div class="card-custom-avatar">
      <img class="img-fluid" src="../../../assets/img/repair-workshop-icon-png-2907.png" alt="Avatar" />
    </div>
    <div class="card-body" style="overflow-y: auto">
      <h4 class="card-title">Servi&ccedil;os</h4>
      <p class="card-text">Gerenciamento de Servi&ccedil;os.</p>
    </div>

  </div>
  <!-- Copy until here -->
  </div>
  </div>

<div class="container">
    <form #consultaForm="ngForm" (submit)="consultar()">
      <div class="row">
          <div class="col-md-5">
              <div class="form-group">
                <label>Cliente:</label>
                <select class="form-control"
                        [ngModelOptions]="{standalone: true}"
                        [(ngModel)]="servicoPrestado.idCliente">
                    <option value="-1">Todos</option>
                    <option *ngFor="let cliente of clientes"
                            [ngValue]="cliente.id">
                        {{ cliente.nome }}
                    </option>
                </select>
            </div>
          </div>

            <div class="col-md-5">
              <label for="inputStatus">Status:</label>
               <select class="form-control"
                     [ngModelOptions]="{standalone: true}"
                     [(ngModel)]="servicoPrestado.status">
                 <option value="">Todos</option>
                 <option value="E">Em Atendimento</option>
                 <option value="C">Cancelado</option>
                 <option value="F">Finalizado</option>
             </select>
            </div>
    </div>

        <div class="row">
            <div class="col-md-10">
                <label for="inputDescricao">Descrição:</label>
                <input type="text" [(ngModel)]="servicoPrestado.descricao"
                       name="descricao" class="form-control"
                       id="inputDescricao">
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary">
                    <i class="fa fa-search"></i> Consultar
                </button>

                <button type="button"
                        routerLink="/servicos-prestados/form"
                        class="btn btn-warning ml-1">
                    <i class="fa fa-plus"></i> Novo
                </button>

                <button type="button"
                        class="btn btn-danger ml-1"
                        (click)="apagar()">
                    <i class="fa fa-eraser"></i> Limpar
                </button>

                <button type="button"
                        class="btn btn-success ml-1"
                        routerLink="/home">
                    <i class="fa fa-home"></i> Voltar
                </button>

                <button class="btn btn-info ml-1" (click)="staticModal.show()" >
                  <i class="fa fa-search"></i> Relatório
              </button>
            </div>

            <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}"
              tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
              <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="modal-lg modal-dialog-centered">
                  <div class="modal-content">
                    <div class="container">
                      <div class="row">
                          <div class="col-md-12">
                            <app-alert-message-form [listAlerts]="listAlertsReport"></app-alert-message-form>
                          </div>
                      </div>
                    </div>
                    <div class="modal-header">
                      <h4 id="dialog-static-name" class="modal-title pull-left">Gerar Relatório</h4>
                      <button type="button" class="btn-close close pull-right" aria-label="Close"
                        (click)="staticModal.hide()">
                        <span aria-hidden="true" class="visually-hidden">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Data Início: *</label>
                                  <input type="date" class="form-control" style="font-size: 13px;"
                                      name="dt" id="dt"
                                      [(ngModel)]="dtInicioConsulta"
                                      placeholder="dd/mm/yyyy" value=""
                                      min="2020-01-01" max="2030-12-31">
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Data Fim: *</label>
                                  <input type="date" class="form-control" style="font-size: 13px;"
                                      name="dt" id="dt"
                                      [(ngModel)]="dtFimConsulta"
                                      placeholder="dd/mm/yyyy" value=""
                                      min="2020-01-01" max="2030-12-31">
                              </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                              <button type="submit" class="btn btn-success" (click)="pesquisar()">
                                  <i class="fa fa-search" ></i> Pesquisar
                              </button>
                          </div>
                          <div class="col-md-6">
                            <button type="button" class="btn btn-warning ml-1" (click)="limparPesquisa()">
                            <i class="fa fa-eraser"></i> Limpar
                          </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>

        </div>
    </form>
    <br />
    <div *ngIf="loading; then carregando"></div>
          <ng-template #carregando>
            <div class="row">
                  <div class="col-md-10">
                    <!-- Copy the content below until next comment -->
                    <div class="card card-custom bg-white border-white border-0">
                     <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                     <div class="card-custom-avatar">
                     <div class="card-body" style="overflow-y: auto">
                       <h4 class="card-title">Carregando</h4>
                     </div>
                   </div>
                   <!-- Copy until here -->
                   </div>
                  </div>
            </div>
          </ng-template>
    <div class="row">
          <div class="list row">
            <div class="col-md-10">
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Pesquisar pelo nome do cliente"
                  (keyup)="onKeyUp($event)"
                  [(ngModel)]="campoPesquisa"/>
                <div class="input-group-append">
                  <button
                    class="btn btn-primary"
                    (click)="pesquisarDescricao()"
                    type="button">
                    Pesquisar
                  </button>
                </div>
              </div>
            </div>
            <div>
              <div class="row">
                <div class="col-md-10">
                <div class="table-responsive">
                <table id="tbl_servicos_prestados" class="table table-hover table-striped">
                  <thead>
                    <tr class="thead-dark">
                     <!--
                       <th>Cliente</th>
                       <th>Descri&ccedil;&atilde;o</th>
                       <th>Pre&ccedil;o</th>
                       <th>Data</th>
                       <th>Status</th>
                     -->

                      <th id="clienteNome" scope="col" sortable="clienteNome" (click)="onSort('clienteNome')">Cliente <img *ngIf="orderFields[0].current" [src]="orderFields[0].arrow" /></th>
                      <th id="descricao" scope="col" sortable="descricao" (click)="onSort('descricao')">Descri&ccedil;&atilde;o <img *ngIf="orderFields[1].current" [src]="orderFields[1].arrow" /></th>
                      <th id="valor" scope="col" sortable="valor" (click)="onSort('valor')">Pre&ccedil;o<img *ngIf="orderFields[2].current" [src]="orderFields[2].arrow" /></th>
                      <th id="dataServico" scope="col" sortable="dataServico" (click)="onSort('dataServico')">Data<img *ngIf="orderFields[3].current" [src]="orderFields[3].arrow" /></th>
                      <th id="status" scope="col" sortable="status" (click)="onSort('status')">Status<img *ngIf="orderFields[4].current" [src]="orderFields[4].arrow" /></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of collectionCustomPagination.data | paginate: configCustomPagination">
                      <td>
                        <em class="text-item-grid">
                          {{ item.cliente.nome }}
                         </em>
                       </td>
                      <td>{{ item.descricao }} </td>
                      <td>{{ item.valor }} </td>
                      <td>{{ item.data }} </td>
                      <td>{{ statusDetalhado[item.status] }}</td>
                      <td>
                        <button class="btn btn-primary"
                                routerLink="/servicos-prestados/form/{{ item.id }}">
                            <i class="fa fa-edit"></i>
                        </button>
                          &nbsp;
                       <button class="btn btn-danger"
                          (click)="openModal(template, item.id)">
                          <i class="fa fa-trash"></i>
                       </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
                <pagination-controls id="customPaginate" [maxSize]="maxSize" (pageChange)="onPageChange($event)"
                  [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel">
                </pagination-controls>
              </div>
            </div>
            </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <ng-template #template>
      <div class="modal-body text-center">
        <p>Confirma a exclus&atilde;o?</p>
        <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >N&atilde;o</button>
      </div>
    </ng-template>
  </div>
</div>
