<div class="how-section1">
  <div class="row">
      <div class="col-md-12">
          <h4>Gerenciamento de Clientes</h4>
                      <h4 class="subheading">M&oacute;dulo de Administra&ccedil;&atilde;o de Clientes do Sistema. </h4>
      <p class="text-muted">Utilize esta p&aacute;gina para realizar o cadastro completo do cliente.
        O Cliente &eacute; o respons&aacute;vel por gerenciar todo o ciclo de vida de um servi&ccedil;o. Ele pode ter quantos
        servi&ccedil;os desejar, com diferentes hist&oacute;ricos, associados &aacute; v&aacute;rios prestadores, tudo simultaneamente.
      </p>
      </div>
  </div>
</div>

<div class="container">
   <form #clienteForm="ngForm" (ngSubmit)="onSubmit()" >

    <div class="row">
      <div class="col-md-12">
      <div class="badge bg-primary text-wrap" style="width: 20rem;">
        Cliente &eacute; o dono do servi&ccedil;o.
      </div>
    </div>
  </div>
      &nbsp;

    <div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>

        <div class="row" *ngIf="cliente.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" [ngModel]="cliente.id" name="id" class="form-control" disabled="true" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Cadastro:</label>
                    <input type="text" class="form-control" name="dataCadastro"
                           [ngModel]="cliente.dataCadastro" disabled="true"  />
                </div>
            </div>
        </div>

        <div class="row" *ngIf="cliente.id && filename;else notfound">
          <div class="col-md-6">
              <div class="form-group">
                  <label>Foto</label>
                  <img id="myimage" class="form-control" [src]='foto' />
              </div>
          </div>
        </div>

        <ng-template #notfound>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Foto</label>
                    <img id="myimage" class="form-control" [src]='fotoNotFound' />
                </div>
            </div>
          </div>
        </ng-template>

        <div class="row" *ngIf="cliente.id && filename">
          <div class="col-md-12">
          <div class="badge bg-primary text-wrap" style="width: 20rem;">
            Arquivo salvo "{{originalFileName}}"
          </div>
        </div>
      </div>
      &nbsp;

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="file" name="file" id="file" #inputFile (change)="selectFile($event)" />
          </div>
        </div>

        <div class="col-md-6" *ngIf="cliente.id && filename">
          <div class="form-group">
            <button type="button" class="btn btn-danger ml-1" (click)="deletarImagem()">
              <i class="fas fa-trash"></i>
              Apagar Imagem
            </button>
          </div>
        </div>
      </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" maxlength="150"
                           [(ngModel)]="cliente.nome" name="nome"   />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control" maxlength="11"
                            [(ngModel)]="cliente.cpf" name="cpf"  />
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label>PIX:</label>
                  <input type="text" class="form-control" maxlength="50"
                         [(ngModel)]="cliente.pix" name="pix"   />
              </div>
          </div>

          <div class="col-md-6">
              <div class="form-group">
                  <label>CEP:</label>
                  <input type="text" class="form-control" maxlength="12"
                          [(ngModel)]="cliente.cep" name="cep" #cep />
              </div>
          </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Endere&ccedil;o:</label>
                <input type="text" class="form-control" maxlength="100"
                       [(ngModel)]="cliente.endereco" name="endereco"   />
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-4">
          <div class="form-group">
              <label>Complemento:</label>
              <input type="text" class="form-control" maxlength="50"
                     [(ngModel)]="cliente.complemento" name="complemento"   />
          </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label>UF:</label>
          <select class="form-control"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="cliente.uf" name="uf" maxlength="2" #inputUf
                  >
              <option value="">Selecione...</option>
              <option *ngFor="let estado of uf"
                      [ngValue]="estado.sigla">
                  {{ estado.nome }}
              </option>
          </select>
      </div>
    </div>

    <div class="col-md-4">
      <div class="form-group">
          <label>Cidade:</label>
          <select class="form-control" maxlength="200"
                 [ngModelOptions]="{standalone: true}"
                 [(ngModel)]="cliente.cidade" name="cidade" [disabled]="cidadeDesabilitado"
                 #inputCidade>
             <option value="">Selecione...</option>
             <option *ngFor="let cidades of cidade"
                     [ngValue]="cidades.nome">
                 {{ cidades.nome }}
             </option>
         </select>
      </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <re-captcha (resolved)="resolved($event)" #captcha
              siteKey="6LfWbsEbAAAAAHULqvnjRg_V5oInPHdy6jeyP8ZR">
          </re-captcha>
      </div>
    </div>
  </div>

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" *ngIf="!cliente.id">
                    <i class="fa fa-save" ></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="cliente.id">
                    <i class="fa fa-sync-alt" ></i> Atualizar
                </button>

                <button type="button"
                        class="btn btn-warning ml-1"
                        (click)="apagar()">
                    <i class="fa fa-eraser"></i> Limpar
                </button>

                <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
                </button>
            </div>

        </div>
    </form>
</div>



