<h1 class="mt-4">Clientes</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Gerenciamento de Clientes</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-md-10">
          <app-alert-message-form [listAlerts]="listAlerts"></app-alert-message-form>
        </div>
    </div>

    <div class="col-md-10">
      <div class="row">
       <!-- Copy the content below until next comment -->
       <div class="card card-custom bg-white border-white border-0">
        <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
        <div class="card-custom-avatar">
          <img class="img-fluid" src="../../../assets/img/services-icon-png-2283.png" alt="Avatar" />
        </div>
        <div class="card-body" style="overflow-y: auto">
          <h4 class="card-title">Clientes</h4>
          <p class="card-text">Gerenciamento de Clientes.</p>
        </div>

      </div>
      <!-- Copy until here -->
      </div>
      </div>

    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-warning" (click)="novoCadastro()" >
                <i class="fa fa-plus"></i> Novo
            </button>
            <button type="button"
                        class="btn btn-success ml-1"
                        routerLink="/home">
                    <i class="fa fa-home"></i> Voltar
            </button>
            <button class="btn btn-info ml-1" (click)="staticModal.show()" >
              <i class="fa fa-search"></i> Relatório
          </button>
        </div>

        <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static', keyboard: false}"
        tabindex="-1" role="dialog" aria-labelledby="dialog-static-name">
        <div class="h-100 d-flex align-items-center justify-content-center">
           <div class="modal-lg modal-dialog-centered">
             <div class="modal-content">
               <div class="container">
                 <div class="row">
                     <div class="col-md-12">
                       <app-alert-message-form [listAlerts]="listAlertsReport"></app-alert-message-form>
                     </div>
                 </div>
               </div>
               <div class="modal-header">
                 <h4 id="dialog-static-name" class="modal-title pull-left">Gerar Relatório</h4>
                 <button type="button" class="btn-close close pull-right" aria-label="Close"
                   (click)="staticModal.hide()">
                   <span aria-hidden="true" class="visually-hidden">&times;</span>
                 </button>
               </div>
               <div class="modal-body">
                   <div class="row">
                     <div class="col-md-6">
                         <div class="form-group">
                             <label>Data Início: *</label>
                             <input type="date" class="form-control" style="font-size: 13px;"
                                 name="dt" id="dt"
                                 [(ngModel)]="dtInicioConsulta"
                                 placeholder="dd/mm/yyyy" value=""
                                 min="2020-01-01" max="2030-12-31">
                         </div>
                     </div>
                     <div class="col-md-6">
                         <div class="form-group">
                             <label>Data Fim: *</label>
                             <input type="date" class="form-control" style="font-size: 13px;"
                                 name="dt" id="dt"
                                 [(ngModel)]="dtFimConsulta"
                                 placeholder="dd/mm/yyyy" value=""
                                 min="2020-01-01" max="2030-12-31">
                         </div>
                     </div>
                   </div>
                   <div class="row">
                     <div class="col-md-6">
                         <button type="submit" class="btn btn-success" (click)="pesquisar()">
                             <i class="fa fa-search" ></i> Pesquisar
                         </button>
                     </div>
                     <div class="col-md-6">
                      <button type="button" class="btn btn-warning ml-1" (click)="limparPesquisa()">
                       <i class="fa fa-eraser"></i> Limpar
                     </button>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
   </div>

    </div>
    <br />
    <div class="row">
      <div  class="list row">
          <div class="col-md-10">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Pesquisar pelo Nome"
                (keyup)="onKeyUp($event)"
                (change)="onChange($event)"
                [(ngModel)]="campoPesquisa"/>
              <div class="input-group-append">
                <button
                  class="btn btn-primary"
                  (click)="pesquisarNome()"
                  type="button">
                  Pesquisar
                </button>
              </div>
            </div>
          </div>
          <div>

          <div *ngIf="loading; then carregando"></div>
          <ng-template #carregando>
            <div class="row">
                  <div class="col-md-10">
                    <!-- Copy the content below until next comment -->
                    <div class="card card-custom bg-white border-white border-0">
                     <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                     <div class="card-custom-avatar">
                     <div class="card-body" style="overflow-y: auto">
                       <h4 class="card-title">Carregando</h4>
                     </div>
                   </div>
                   <!-- Copy until here -->
                   </div>
                  </div>
            </div>
          </ng-template>

            <div class="row">
              <div class="col-md-10">
                <div class="table-responsive">
                <table id="tbl_clientes" class="table table-hover table-striped">
                <thead>
                  <tr class="thead-dark">
                    <th id="nome" scope="col" sortable="nome" (click)="onSort('nome')">Nome <img *ngIf="orderFields[0].current" [src]="orderFields[0].arrow" /></th>
                    <th id="cpf" scope="col" sortable="cpf" (click)="onSort('cpf')">CPF <img *ngIf="orderFields[1].current" [src]="orderFields[1].arrow" /></th>
                    <th id="data" scope="col" sortable="data" (click)="onSort('data')">Data Cadastro <img *ngIf="orderFields[2].current" [src]="orderFields[2].arrow" /></th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of collectionCustomPagination.data | paginate: configCustomPagination">
                    <td>
                      <em class="text-item-grid">
                       {{ item.nome }}
                      </em>
                      <div id=pix *ngIf="item.pix!=undefined">
                          <span class="text-twitter">PIX:</span>
                          <em class="text-facebook">
                            {{ item.pix }}
                          </em>
                      </div>
                    </td>
                    <td>{{ item.cpf }} </td>
                    <td>{{ item.dataCadastro }} </td>
                    <td>
                      <button class="btn btn-primary"
                              routerLink="/clientes/form/{{ item.id }}">
                          <i class="fa fa-edit"></i>
                      </button>
                        &nbsp;
                     <button class="btn btn-danger"
                              routerLink="/clientes/remover/{{ item.id }}">
                        <i class="fa fa-trash"></i>
                     </button>
                     &nbsp;
                     <button class="btn btn-success"
                     (click)="openModal(template, item.id)">
                         <i class="fa fa-money-bill-alt"></i>
                    </button>
                  </td>
                  </tr>
                </tbody>
              </table>
          </div>
              <pagination-controls id="customPaginate" [maxSize]="maxSize" (pageChange)="onPageChange($event)"
                [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel">
              </pagination-controls>
            </div>
          </div>
    </div>

    <div id="modalDelecao" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Confirmação</h4>
                </div>

                <div class="modal-body" *ngIf="clienteSelecionado">
                    Confirma a deleção do(a) Cliente {{ clienteSelecionado.nome }}?
                </div>

                <div class="modal-footer">
                    <button class="btn btn-success" (click)="deletarCliente(clienteSelecionado.id)"
                            data-dismiss="modal">Confirmar</button>
                    <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
    <ng-template #template>
      <div class="modal-body text-center">
        <p>Funcionalidade em Desenvolvimento.</p>
        <button type="button" class="btn btn-primary" (click)="ok()">OK</button>
      </div>
    </ng-template>
  </div>
</div>
