@media screen and (max-width: 800px) {
	.table td, .table tr th {
		display: block;
		width: 33%;
		float: left;
	}

	.table .table tr {
		display: block;
		width: 100%
	}
}

body {
  overflow-x: hidden !important;
  width: 100%;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 100% !important;
  overflow-x: hidden !important;
}
