<div class="how-section1">
  <div class="row">
      <div class="col-md-12">
          <h4>Gerenciamento de Prestadores</h4>
                      <h4 class="subheading">M&oacute;dulo de Administra&ccedil;&atilde;o de Prestadores do Sistema. </h4>
      <p class="text-muted">Utilize esta p&aacute;gina para realizar o cadastro completo do prestador.
        Ele que vai botar a m&atilde;o na massa. O Prestador &eacute; o respons&aacute;vel por executar o servi&ccedil;o a ele atribu&iacute;do.
        Ele pode ter v&aacute;rios servi&ccedil;os &agrave; ele.
      </p>
      </div>
  </div>
</div>

<div class="container">
   <form #prestadorForm="ngForm" (ngSubmit)="onSubmit()">
    <app-alert-message-form [listAlerts]="listAlerts"></app-alert-message-form>

    <div class="row">
      <div class="col-md-12">
      <div class="badge bg-primary text-wrap" style="width: 20rem;">
        Prestador &eacute; o executor do servi&ccedil;o.
      </div>
    </div>
  </div>
      &nbsp;

    <div>
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>

        <div class="row" *ngIf="prestador.id">
            <div class="col-md-6">
                <div class="form-group">
                    <label>ID:</label>
                    <input type="text" [ngModel]="prestador.id" name="id" class="form-control" disabled="true" />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Data Cadastro:</label>
                    <input type="text" class="form-control" name="dataCadastro"
                           [ngModel]="prestador.dataCadastro" disabled="true"  />
                </div>
            </div>
        </div>

        <div class="row" *ngIf="prestador.id && filename;else notfound">
          <div class="col-md-6">
              <div class="form-group">
                  <label>Foto</label>
                  <img id="myimage" class="form-control" [src]='foto' />
              </div>
          </div>
        </div>

        <ng-template #notfound>
          <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Foto</label>
                    <img id="myimage" class="form-control" [src]='fotoNotFound' />
                </div>
            </div>
          </div>
        </ng-template>

        <!--
          <div class="row" *ngIf="prestador.id && filename">
            <div class="col-md-12">
            <div class="badge bg-primary text-wrap" style="width: 20rem;">
              Arquivo salvo "{{originalFileName}}"
            </div>
          </div>
        </div>
        -->
      &nbsp;

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <input type="file" name="file" id="file" #inputFile (change)="selectFile($event)" />
          </div>
        </div>

        <div class="col-md-6" *ngIf="prestador.id && filename">
          <div class="form-group">
            <button type="button" class="btn btn-danger ml-1" (click)="deletarImagem()">
              <i class="fas fa-trash"></i>
              Apagar Imagem
            </button>
          </div>
        </div>
      </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome: *</label>
                    <input type="text" class="form-control" maxlength="150"
                           [(ngModel)]="prestador.nome" name="nome"   />
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>CPF: *</label>
                    <input type="text" class="form-control" maxlength="11"
                            [(ngModel)]="prestador.cpf" name="cpf"  />
                </div>
            </div>
        </div>

        <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label>PIX:</label>
                  <input type="text" class="form-control" maxlength="50"
                         [(ngModel)]="prestador.pix" name="pix"   />
              </div>
          </div>

          <!--
          <div class="col-md-6">
            <rating [(ngModel)]="prestador.avaliacao" name="avaliacao" [readonly]="isReadonly"
            (keyup)="confirmSelection($event)"></rating>
          <div class="card">
            <pre class="card-block card-header" style="margin:15px 0;">Avalia&ccedil;&atilde;o: Modo Leitura: <i>{{isReadonly}} }}</i>;</pre>
          </div>
          <button class="btn btn-primary" (click)="resetStars($event)">Zerar Avali&ccedil;&atilde;o</button>
         </div>
        -->

        <div class="col-md-6">
          <label>Avaliação: *</label>
            <rating [max]="5" [(ngModel)]="prestador.avaliacao" name="avaliacao" [readonly]="isReadonly"
                      (keyup)="confirmSelection($event)" [customTemplate]="tt"></rating>
             <div class="card">
                 <pre class="card-block card-header" style="margin:15px 0;">1-Péssimo 2-Ruim 3-Razoável 4-Bom 5-Excelente</pre>
             </div>


            <ng-template #tt let-i="index" let-v="value">
              <button class="btn btn-{{i < v ? 'warning' : 'default'}}" (click)="confirmClickRating($event)">
                {{i < v ? '&#9733;' : '&#9734;'}}
              </button>
            </ng-template>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Profissão: *</label>
                <div>
                  <ng-multiselect-dropdown class="multiselect-dropdown"
                  name="multiselect_profissao"
                  [placeholder]="'Selecione a Profissão'"
                  [settings]="dropdownSettings"
                  [data]="profissao"
                  [(ngModel)]="profissaoSelecionada"
                  (onSelect)="onItemSelect($event)"
                  (onDeSelect)="onItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onFilterChange)="onFilterChange($event)">
                </ng-multiselect-dropdown>
              </div>
            </div>
        </div>
    </div>

    <div class="row">
      <div class="col-md-12">
          <div class="form-group">
              <label>Email:</label>
              <input type="text" class="form-control" maxlength="200"
                           [(ngModel)]="prestador.email" name="email" />
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <re-captcha (resolved)="resolved($event)" #captcha
              siteKey="6LfWbsEbAAAAAHULqvnjRg_V5oInPHdy6jeyP8ZR">
          </re-captcha>
      </div>
    </div>
  </div>

        <div class="row">
            <div class="col-md-6">
                <button type="submit" class="btn btn-success" *ngIf="id == undefined">
                    <i class="fa fa-save" ></i> Salvar
                </button>

                <button type="submit" class="btn btn-primary" *ngIf="prestador.id">
                    <i class="fa fa-sync-alt" ></i> Atualizar
                </button>

                <button type="button"
                        class="btn btn-warning ml-1"
                        (click)="apagar()">
                    <i class="fa fa-eraser"></i> Limpar
                </button>

                <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
                    <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
                </button>
            </div>

        </div>
    </form>
</div>



