<div class="how-section1">
  <div class="row">

      <div class="col-md-12">
          <h4>Gerenciamento de Pacotes</h4>
                      <h4 class="subheading">M&oacute;dulo de Administra&ccedil;&atilde;o de Pacotes do Sistema. </h4>
      <p class="text-muted">Utilize esta p&aacute;gina para realizar o cadastro de um Pacote.
      </p>
      </div>
  </div>
</div>

<div class="container">
  <form #prestadorForm="ngForm" (ngSubmit)="onSubmit()" >
    <app-alert-message-form [listAlerts]="listAlerts"></app-alert-message-form>
<div class="row">
  <div class="col-md-12">
  <div class="badge bg-primary text-wrap" style="width: 20rem;">
    Pacote é um conjunto de serviços a ser executados.
  </div>
</div>
</div>
  &nbsp;

<div>
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
</div>

<div class="row" *ngIf="pacote.id">
  <div class="col-md-6">
      <div class="form-group">
          <label>ID:</label>
          <input type="text" [ngModel]="pacote.id" name="id" class="form-control" disabled="true" />
      </div>
  </div>

  <div class="col-md-6">
      <div class="form-group">
          <label>Data Criação:</label>
          <input type="text" class="form-control" name="data"
                 [ngModel]="pacote.data" disabled="true"  />
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <label>Descrição: *</label>
          <input type="text" class="form-control" maxlength="300"
                 [(ngModel)]="pacote.descricao" name="descricao"   />
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <label>Justificativa: *</label>
          <input type="text" class="form-control" maxlength="100"
                 [(ngModel)]="pacote.justificativa" name="justificativa"   />
      </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
      <div class="form-group">
          <label>Data Previsão:</label>
              <input type="text"
                  class="form-control"
                  placeholder=""
                  bsDatepicker
                  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',
                  returnFocusToInput: true,
                  containerClass: 'theme-dark-blue',
                  showTodayButton: true,
                  showClearButton: true,
                  todayPosition: 'left',
                  clearPosition: 'right',
                  isAnimated: true }"
                  (bsValueChange)="onValueChangeDtPrevisao($event)"
                  [(ngModel)]="pacote.data_previsao"
                  name="inputDataPrevisao"
                  id="inputDataPrevisao"
                  #inputDataPrevisao>

      </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
        <label>Data Conclusão:</label>
          <input type="text"
            class="form-control"
            placeholder=""
            bsDatepicker
            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY',
            returnFocusToInput: true,
            containerClass: 'theme-dark-blue',
            showTodayButton: true,
            showClearButton: true,
            todayPosition: 'left',
            clearPosition: 'right',
            isAnimated: true }"
            (bsValueChange)="onValueChangeDtConclusao($event)"
            [(ngModel)]="pacote.data_conclusao"
            name="inputDataConclusao"
            id="inputDataConclusao"
            #inputDataConclusao>

    </div>
</div>
</div>

<div class="row">
  <div class="col-md-12">
      <div class="form-group">
          <label>Status *</label>
          <select class="form-control"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="pacote.status">
              <option value="I">Iniciado</option>
              <option value="A">Aguardando atendimento</option>
              <option value="E">Em atendimento</option>
              <option value="C">Cancelado</option>
              <option value="F">Finalizado</option>
          </select>
      </div>
  </div>
 </div>

<div class="row">
  <div class="col-md-6">
      <button type="submit" class="btn btn-success" *ngIf="id == undefined">
          <i class="fa fa-save" ></i> Salvar
      </button>

      <button type="submit" class="btn btn-primary" *ngIf="pacote.id">
          <i class="fa fa-sync-alt" ></i> Atualizar
      </button>

      <button type="button"
              class="btn btn-warning ml-1"
              (click)="apagar()">
          <i class="fa fa-eraser"></i> Limpar
      </button>

      <button type="button" class="btn btn-danger ml-1" (click)="voltarParaListagem()">
          <i class="fa fa-arrow-alt-circle-left" ></i> Voltar
      </button>
  </div>

</div>

<br />
<div *ngIf="pacote.id">
  <div class="row">
    <div class="how-section1">
    <div class="col-md-12">
    <h4 class="subheading">Relacionar Serviços abaixo:</h4>
    </div>
    </div>
  </div>
  <div class="row">
      <div class="col-md-12">

        <div class="list row">
          <div class="col-md-12">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                placeholder="Pesquisar pelo nome do cliente"
                (keyup)="onKeyUp($event)"
                [(ngModel)]="campoPesquisa" [ngModelOptions]="{standalone: true}"/>
              <div class="input-group-append">
                <button
                  class="btn btn-primary"
                  (click)="pesquisarDescricao()"
                  type="button">
                  Pesquisar
                </button>
              </div>
            </div>
          </div>
          <div>
            <div class="row">
              <div class="col-md-12">
              <div class="table-responsive">
              <table class="table table-hover table-striped">
                <thead>
                  <tr class="thead-dark">
                    <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
                    <th>Cliente</th>
                    <th>Descri&ccedil;&atilde;o</th>
                    <th>Pre&ccedil;o</th>
                    <th>Data</th>
                    <th>Status</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of collectionCustomPagination.data | paginate: configCustomPagination">
                    <td><input type="checkbox" value="{{item.id}}" [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}"></td>
                    <td>
                      <em class="text-item-grid">
                        {{ item.cliente.nome }}
                      </em>
                    </td>
                    <td>{{ item.descricao }} </td>
                    <td>{{ item.valor }} </td>
                    <td>{{ item.data }} </td>
                    <td>{{ statusDetalhado[item.status] }}</td>
                    <td>
                      <button class="btn btn-primary"
                              routerLink="/servicos-prestados/form/{{item.id}}/pacoteform/{{pacote.id}}">
                          <i class="fa fa-edit"></i>
                      </button>
                      &nbsp;
                        <button class="btn btn-danger"
                            (click)="openModal(template, item.id)">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
              <pagination-controls id="customPaginate" [maxSize]="maxSize" (pageChange)="onPageChange($event)"
                [previousLabel]="labels.previousLabel" [nextLabel]="labels.nextLabel">
              </pagination-controls>
            </div>
          </div>
          </div>
      </div>
  </div>
  </div>

 <button type="button"
  class="btn btn-primary ml-1" (click)="vincularServico()"> <i class="fa fa-save"></i> Vincular Serviço
 </button>

  <button type="button"
    class="btn btn-success ml-1" (click)="novoServico()">
    <i class="fa fa-plus"></i> Novo Serviço
  </button>

  <br><br>
  <div class="how-section1" *ngIf="itemPacoteConsulta.length>0">
    <div class="row">
        <div class="col-md-12">
          <h4 class="subheading">Rela&ccedil;&atilde;o de Serviços cadastrados para este pacote -
             {{pacote.descricao}} </h4>
        </div>
    </div>
  </div>

  <div class="row" *ngIf="itemPacoteConsulta.length>0">
    <div class="col-md-12">
      <div class="list row">
        <div>
          <div class="row">
            <div class="col-md-12">
            <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr class="thead-dark">
                  <th>Cliente</th>
                  <th>Descri&ccedil;&atilde;o</th>
                  <th>Pacote</th>
                  <th>Prestador</th>
                  <th>A&ccedil;&otilde;es</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of collectionCustomPaginationIP.data | paginate: configCustomPaginationIP">
                  <td>{{ item.servicoPrestado.cliente.nome }}</td>
                  <td>{{ item.servicoPrestado.descricao }} </td>
                  <td>{{ item.pacote.descricao }} </td>
                  <td>{{ item.servicoPrestado.prestador.nome }}</td>
                  <td>
                    <button class="btn btn-primary"
                              routerLink="/servicos-prestados/form/{{item.servicoPrestado.id}}/pacoteform/{{pacote.id}}">
                          <i class="fa fa-edit"></i>
                      </button>
                      &nbsp;
                    <button class="btn btn-danger"
                         (click)="openModal2(template2, pacote.id, item.servicoPrestado.id, $event)">
                            <i class="fa fa-trash"></i>
                        </button>
                      </td>
                </tr>
              </tbody>
            </table>
          </div>
            <pagination-controls id="customPaginateIP" [maxSize]="maxSizeIP" (pageChange)="onPageChangeIP($event)"
              [previousLabel]="labelsIP.previousLabel" [nextLabel]="labelsIP.nextLabel">
            </pagination-controls>
          </div>
        </div>
        </div>
    </div>
  </div>
  </div>

</div>
</form>

<div class="container">
  <div class="row">
    <ng-template #template>
      <div class="modal-body text-center">
        <p>Confirma a exclus&atilde;o?</p>
        <button type="button" class="btn btn-default" (click)="confirm()" >Sim</button>
        <button type="button" class="btn btn-primary" (click)="decline()" >N&atilde;o</button>
      </div>
    </ng-template>
  </div>
</div>

<div class="container">
  <div class="row">
    <ng-template #template2>
      <div class="modal-body text-center">
        <p>Confirma a exclus&atilde;o?</p>
        <button type="button" class="btn btn-default" (click)="confirm2($event)" >Sim</button>
        <button type="button" class="btn btn-primary" (click)="decline2($event)" >N&atilde;o</button>
      </div>
    </ng-template>

    <div *ngIf="false">
      <button (click)="throwError()">Error</button>
      <button (click)="throwHttpError()">HTTP</button>
    </div>
  </div>
</div>
