<h1 class="mt-4">Home</h1>

<div class="container">
<div class="row">
<div class="col-md-11">

<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item active">Bem vindo</li>
</ol>

<div class="col-md-10">
  <div class="row">
      <div class="col-xl-3 col-lg-6">
          <div class="card l-bg-cherry">
              <div class="card-statistic-3 p-4">
                  <div class="card-icon card-icon-large"></div>
                  <div class="mb-4">
                      <h5 class="card-title mb-0">Servi&ccedil;os</h5>
                  </div>
                  <div class="row align-items-center mb-2 d-flex">
                      <div class="col-8">
                          <h2 class="d-flex align-items-center mb-0">
                            {{ totalServicosCadastrados }}
                          </h2>
                      </div>
                      <div class="col-4 text-right">
                          <span><i class="fa fa-arrow-up"></i></span>
                      </div>
                  </div>
                  <div class="progress mt-1 " data-height="8" style="height: 8px;">
                      <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6">
          <div class="card l-bg-blue-dark">
              <div class="card-statistic-3 p-4">
                  <div class="card-icon card-icon-large"></div>
                  <div class="mb-4">
                      <h5 class="card-title mb-0">Clientes</h5>
                  </div>
                  <div class="row align-items-center mb-2 d-flex">
                      <div class="col-8">
                          <h2 class="d-flex align-items-center mb-0">
                            {{ totalClientesCadastrados }}
                          </h2>
                      </div>
                      <div class="col-4 text-right">
                          <span> <i class="fa fa-arrow-up"></i></span>
                      </div>
                  </div>
                  <div class="progress mt-1 " data-height="8" style="height: 8px;">
                      <div class="progress-bar l-bg-green" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6">
          <div class="card l-bg-green-dark">
              <div class="card-statistic-3 p-4">
                  <div class="mb-4">
                      <h5 class="card-title mb-0">Usu&aacute;rios</h5>
                  </div>
                  <div class="row align-items-center mb-2 d-flex">
                      <div class="col-8">
                          <h2 class="d-flex align-items-center mb-0">
                            {{ totalUsuariosCadastrados }}
                          </h2>
                      </div>
                      <div class="col-4 text-right">
                          <span> <i class="fa fa-arrow-up"></i></span>
                      </div>
                  </div>
                  <div class="progress mt-1 " data-height="8" style="height: 8px;">
                      <div class="progress-bar l-bg-orange" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-xl-3 col-lg-6">
          <div class="card l-bg-orange-dark">
              <div class="card-statistic-3 p-4">
                  <div class="card-icon card-icon-large"></div>
                  <div class="mb-4">
                      <h5 class="card-title mb-0">Prestadores</h5>
                  </div>
                  <div class="row align-items-center mb-2 d-flex">
                      <div class="col-8">
                          <h2 class="d-flex align-items-center mb-0">
                              {{ totalPrestadoresCadastrados }}
                          </h2>
                      </div>
                      <div class="col-4 text-right">
                          <span> <i class="fa fa-arrow-up"></i></span>
                      </div>
                  </div>
                  <div class="progress mt-1 " data-height="8" style="height: 8px;">
                      <div class="progress-bar l-bg-cyan" role="progressbar" data-width="25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%;"></div>
                  </div>
              </div>
          </div>
      </div>

      <div class="col-md-12">
        <div class="row">
         <!-- Copy the content below until next comment -->
         <div class="card card-custom bg-white border-white border-0">
          <div class="card-custom-img" style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
          <div class="card-custom-avatar">
            <img class="img-fluid" src="http://hvogel.com.br/img/person-icon-blue-7573.png" alt="Avatar" />
          </div>
          <div class="card-body" style="overflow-y: auto">
            <h4 class="card-title">Clientes</h4>
            <p class="card-text">Clientes &eacute; um sistema para Gerenciamento de Servi&ccedil;os Prestados.</p>
          </div>
          <div class="card-footer" style="background: inherit; border-color: inherit;">
            <a class="btn btn-primary" routerLink="/sistema-info" >Saiba mais</a>&nbsp;
            <a href="#" class="btn btn-outline-primary">Sobre...</a>
          </div>
        </div>
        <!-- Copy until here -->
        </div>
        </div>

      <div class="row">
        <div class="col-md-6">
           <div class="card text-white bg-primary flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                 <strong class="d-inline-block mb-2 text-white">Controle Servi&ccedil;os</strong>
                 <h6 class="mb-0">
                    <a class="text-white" href="#">E administre seu dinheiro</a>
                 </h6>
                 <div class="mb-1 text-white-50 small">$$$</div>
                 <p class="card-text mb-auto">Altere o status desejado do servi&ccedil;o a hora que quiser, para acompanhar seu andamento.</p>
                 <a class="btn btn-outline-light btn-sm" role="button" href="#">Foque em metas</a>
              </div>
              <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="http://hvogel.com.br/img/tech1.jpg" style="width: 200px; height: 250px;">
           </div>
        </div>
        <div class="col-md-6">
           <div class="card text-white bg-info flex-md-row mb-4 shadow-sm h-md-250">
              <div class="card-body d-flex flex-column align-items-start">
                 <strong class="d-inline-block mb-2 text-white">Cadastre Clientes</strong>
                 <h6 class="mb-0">
                    <a class="text-white" href="#">Gerencie todos seus clientes</a>
                 </h6>
                 <div class="mb-1 text-white-50 small">Centralize quem demanda seus servi&ccedil;os</div>
                 <p class="card-text mb-auto">Clientes podem acompanhar todo o hist&oacute;rico dos seus servi&ccedil;os prestados.</p>
                 <a class="btn btn-outline-light btn-sm" href="#">Sucesso nas entregas</a>
              </div>
              <img class="card-img-right flex-auto d-none d-lg-block" alt="Thumbnail [200x250]" src="http://hvogel.com.br/img/people1.jpg" style="width: 200px; height: 250px;">
           </div>
        </div>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="chart-wrapper">
              <canvas baseChart
                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [options]="lineChartOptions"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
              </canvas>
          </div>
      </div>

      <div class="col-md-6">
        <div class="chart-wrapper">
        <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          [options]="pieChartOptions"
          [plugins]="pieChartPlugins"
          [colors]="pieChartColors"
          [legend]="pieChartLegend">
        </canvas>
      </div>
   </div>

  </div>
</div>

&nbsp;&nbsp;&nbsp;



<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="chart-wrapper">
        <canvas baseChart
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [plugins]="barChartPlugins"
          [legend]="barChartLegend"
          [chartType]="barChartType">
        </canvas>
      </div>
    </div>

<div class="col-md-6">
  <div class="order-1 text-center p-1 my-1">
    &nbsp;
    <h4 class="card-title card-title-style"> Percentual de Atendimentos </h4>
    <div class="card-block text-justify ">
       <div class="progress" style="margin-left: -9px !important; width: 105% !important;">
        <div
         *ngFor="let linha of valorPercentual"
          class="progress-bar " role="progressbar" [style.width.%]="linha.PERCENTUAL" aria-valuenow="0"
         aria-valuemin="0" aria-valuemax="100" style="min-width: 0em; "  [style.background-color]="linha.corSelecionada">
         </div>
        </div>
         <div class="col-md-12">
         <div class="container" style="margin-left: -23px !important;  width: 100% !important;">
          <div class="row row-cols-5">
            <div class="col">0%</div>
            <div class="col">25%</div>
            <div class="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;50%</div>
            <div class="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;75%</div>
            <div class="col">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;100%</div>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <table style="width: 400px; font-size: 9pt">
            <thead>
              <tr style="border-bottom: 1px solid rgb(0, 112, 192);">
                <th scope="col" colspan="5" style="text-align: center;"> Percentual <b>por Status</b></th>
              </tr>
            </thead>
            <tbody>
              <tr style="border-bottom: 1px solid #ADADAD;" *ngFor="let linha of valorPercentual">
                <td [style.color]="linha.corSelecionada">{{linha.STATUS}}</td>
                <td class="text-right"><b>{{linha.PERCENTUAL }}%</b></td>
              </tr>
            </tbody>
          </table>
        </div>


      </div>
     </div>
    </div>
</div>

</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card-">
        <div class="row mx-0 px-0">
            <div class="py-2 desempenhoEsquerdo">
                <div class="text-center">
                    <div class="col-md-12">
                        <span class="text-center" style="font-size: 11px">Administrativo</span>
                    </div>
                </div>
                <div class="text-center">
                    <div class="">
                        <span class="text-center" style="font-size: 15px"><b>{{totalClientesCadastrados}}</b></span>
                    </div>
                </div>
                <div class="text-center">
                    <div class="">
                        <span class="text-center" style="font-size: 11px">Clientes</span>
                    </div>
                </div>
            </div>

            <div class="desempenhoDireito">
                <div class="row text-center" style="margin-bottom: 3px;">
                    <div class="col-md-12" style="font-size: 16px;">
                        Geral
                    </div>
                </div>
                <div class="row m-0">
                    <div class="desempenho-35">
                        <div class="text-center">
                            <div class="col-md-12 px-0" style="font-size: 15px">
                               {{totalServicosCadastrados}}
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="col-md-12 px-0" style="font-size: 11px">
                                Serviços
                            </div>
                        </div>
                    </div>
                    <div class="desempenho-35">
                        <div class="text-center">
                            <div class="col-md-12 px-0" style="font-size: 15px; font-weight: bold">
                                {{totalPrestadoresCadastrados}}
                            </div>
                        </div>
                        <div class="text-center">
                            <div class="col-md-12 px-0" style="font-size: 11px;font-weight: bold; display: inherit;">
                                Prestadores
                            </div>
                        </div>
                    </div>


                    <div class="desempenho-30">
                      <div class="text-center">
                          <div class="col-md-12 px-0" style="font-size: 15px">
                             {{totalPacotesCadastrados}}
                          </div>
                      </div>
                      <div class="text-center">
                          <div class="col-md-12 px-0" style="font-size: 11px">
                              Pacotes
                          </div>
                      </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
      </div>
  </div>
</div>


</div>
</div>
</div>






